[submodule "implementations/duktape/duktape-releases"]
	path = implementations/duktape/duktape-releases
	url = https://github.com/svaarala/duktape-releases.git
[submodule "implementations/jerryscript/jerryscript"]
	path = implementations/jerryscript/jerryscript
	url = https://github.com/Samsung/jerryscript.git
[submodule "deps/libuv"]
	path = deps/libuv
	url = https://github.com/libuv/libuv.git
