[submodule "implementations/ducktape/duktape-releases"]
	path = implementations/ducktape/duktape-releases
	url = https://github.com/svaarala/duktape-releases.git
[submodule "implementations/jerryscript/jerryscript"]
	path = implementations/jerryscript/jerryscript
	url = https://github.com/Samsung/jerryscript.git
